{% extends "base.html" %}

{% block content %}

    <!-- Lead -->

    <section class="row-alt">
      <div class="lead container">

        <h1>Specialties</h1>

        <p>Specialties: Data Science, Machine learning, Python, Basel financial regulation, financial risk management, VaR, project management, regulatory and economic capital calculation, programming, mathematics, technical analysis, derivatives, proprietary trading, economics, consultancy, financial services, investment banking, global markets, Java, C, R, Excel VBA, SQL.</p>
      </div>
    </section>

    <!-- Main content -->

    <section class="row">
      <div class="container">

        <!-- Professional Experience -->

        <table>

          <thead>
            <tr>
              <th colspan="3">
                Professional Experience
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th class="schedule-offset" >
                <p>Santander Bank</p>
              </th>
              <td class="schedule-offset">
                <h4>Team Leader – Capital</h4>
                <ul>
                  <li>Basel III IRB, RDA and RoRAC metric project implanter for several Santander Group entities.</li>
                  <li>Coordinator of Capital IT action plans from HQ for the calculation of Regulatory and Economic Capital.</li>
                  <li>Direct reporting to Management team: preparation of presentations for the bank’s internal committees.</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Jul 13 – Oct 17</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Banco Bilbao Vizcaya Argentaria (BBVA)</p>
              </th>
              <td class="schedule-offset">
                <h4>Senior Analyst – Corporate &amp; Investment Banking</h4>
                <ul>
                  <li>Quant &amp; Technology team: Implementation of CIB risk projects across multiple types of financial products.</li>
                  <li>IRC, Stress test and CVA/DVA projects for Credit and Market Risk assessment.</li>
                  <li>Credit and Market Risk modelling projects with Algorithmics (IBM) tools.</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Sept 10 –Jul 13</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Intelectia Capital</p>
              </th>
              <td class="schedule-offset">
                <h4>Trader – Proprietary Trading</h4>
                <ul>
                  <li>Discretionary trading based on technical and statistical analysis of futures markets (Stock indexes and commodities)</li>
                  <li>Analysis and development of automated trading systems.</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Jan 10 – Aug 10</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Accenture</p>
              </th>
              <td class="schedule-offset">
                <h4>Consultant – Technology Consulting</h4>
                <ul>
                  <li>Implementation of SAP HR module and IT project management for european clients.</li>
                  <li>Participation in software development projects, JAVA programming and project management tasks.</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Apr 08 - Jan 10</li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>

        <!-- Education -->

        <table>

          <thead>
            <tr>
              <th colspan="3">
                Education
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th class="schedule-offset" >
                <p>Durham University &amp; K2 Bootcamp</p>
              </th>
              <td class="schedule-offset">
                <h4>Full-time Data Science training</h4>
                <ul>
                  <li>Python &amp; R Programming, Mathematics, Statistics, Exploratory Data Analysis, Machine Learning &amp; Deep Learning, Neural Networks, Data Mining, Data Engineering, Natural Language Processing and Data Visualization.</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Durham, UK</li>
                  <li>Oct 17 – Present</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Executive Master’s degree in Quantitative Finance</p>
              </th>
              <td class="schedule-offset">
                <h4>Escuela de Finanzas Aplicadas - AFI</h4>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Sep 15 – June 16</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Financial Risk Management (FRM) certification</p>
              </th>
              <td class="schedule-offset">
                <h4>Global Association of Risk Professionals</h4>
                <ul>
                  <li>License 192.299</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>International</li>
                  <li>Feb 13</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Master's degree in Stock Exchanges and Financial Markets</p>
              </th>
              <td class="schedule-offset">
                <h4>Instituto de Estudios Bursátiles – IEB</h4>
                <ul>
                  <li>Honourable Mention</li>
                </ul>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Apr 10 – July 11</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Bachelor of Science/Master of Science in Telecommunications Engineering</p>
              </th>
              <td class="schedule-offset">
                <h4>University Alfonso X el Sabio</h4>
              </td>
              <td class="schedule-offset">
                <ul>
                  <li>Madrid, Spain</li>
                  <li>Sep 02 – July 07</li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>

        <!-- Others -->

        <table>

          <thead>
            <tr>
              <th colspan="3">
                Others
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th class="schedule-offset" >
                <p>Languages</p>
              </th>
              <td class="schedule-offset">
                <h4>Spanish (Native), English (Fluent), French (Basic)</h4>
              </td>
              <td class="schedule-offset">
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Programming languages</p>
              </th>
              <td class="schedule-offset">
                <h4>Python, R, HTML, SQL, VBA, C, JAVA</h4>
              </td>
              <td class="schedule-offset">
              </td>
            </tr>

            <tr>
              <th class="schedule-offset" >
                <p>Interests</p>
              </th>
              <td class="schedule-offset">
                <h4>Finance, Education, Travelling, Reading, Surf and Yoga</h4>
              </td>
              <td class="schedule-offset">
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </section>

{% endblock %}
